table{
  width: 90%
  margin:auto;
}
th{
  color: white;
  background-color: blue;
}
td,th{
  border: 2px #1E90FF;
  font-size: 10px;
  text-align: left;
}
.container{
  width:500px;
  margin:0 auto;
  font-family: "M PLUS Rounded 1c";
  background-color:#7ce2d9;
  padding:20px 0 40px;
}
