table{
  width: 90%;
　margin: auto;
}
th{
  color: white;
  background-color: blue;
}
td,th{
  border: 5px #111111;
  font-size: 10px;
  text-align: left;
}
tr *:first-child{
  color:#ff69b4;
}
tr *:last-child{
  color:#0ba9ea;
}

.container{
  width:500px;
  margin:0 auto;
  font-family: "M PLUS Rounded 1c";
  background-color: #DCDCDC;
  padding:20px 0 40px;
}
