.content1{
  position:absolute;
  top:100px;
  left:100px;
  width: 240px;
  hight: 160px;
}


.sample{
  position:absolute;
  top:200px;
  left:200px;
  width: 240px;
  hight: 160px;
  background-color: #000066;
}
