img.content1{
  position:absolute;
  top:100px;
  left:100px;
  width: 240px;
  hight: 160px;
}

img.content2{
  position:absolute;
  top:200px;
  left:200px;
  width: 240px;
  hight: 160px;
}

div.sample{
  position:absolute;
  top:200px;
  left:200px;
  width: 240px;
  hight: 160px;
  border: 1px solid black;
  background-color: #000066;
}
